*{
      margin: 0;
      padding: 0;
}


.cabecalho {
      background-color: #4cda77
      color: rgb(6, 19, 95);
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 24px 0;
}

.cabecalho-imagem{
      width: 10%;
  }
  
  .cabecalho-lista-item{
      display: inline-block;
      margin: 0 16px;
      font-size: 24px;
  }

  .escola-imagem{
      width: 25%;
  }

  .escola{
      background-image: linear-gradient(#4cda77, #4cd5da);
  }