.cabecalho {
      background-color: rgb(238, 129, 238);
      color: greenyellow;
      display: flex;
      justify-content: space-around;
}

.cabecalho-imagem{
      width: 10%;
  }
  
  .cabecalho-lista-item{
      display: inline-block;
      margin: 0 16px;
  }